body {
  background-color: #f5f1e9;
}
h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 40px;
  margin: 5px;
}
h2 {
  color: black;
  font-family: 'Cormorant Garamond', serif;
  font-size: 25px;
  margin: 0px;
}
p {
  font-family: 'Tiro Gurmukhi', serif;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
}

ul {

}

ul li {
  list-style: none;
  display: inline-block;
}

ul li  a {
  text-decoration: none;
  font-size: 15px
  font-family: 'Tiro Gurmukhi', serif;
}
